<aside class="kanan-side">
    <div class="user-head">
        <h3 class="pull-left">Information</h3>
    </div>
    <ul class="chat-available-user">
        <li>
            <a href="">
                <i class="fa fa-circle text-success"></i>
                Jonathan Smith
                <span class="text-muted">3h:22m</span>
            </a>
        </li>
    </ul>
</aside>

<style>
    .chat-room aside {
            display: table-cell;
            float: none;
            height: 100vh;
            padding: 0;
            vertical-align: top;
        }
        
    .chat-room .kanan-side {
            width: 25%;
            background: #fff;
        }
        
        .chat-room .kanan-side .user-head {
            background: #2980b9;
            color: #FFFFFF;
            min-height: 70px;
            padding: 10px;
            border-left: 1px solid #2980b9;
            margin-left: -1px;
            position: relative;
        }
                
            .user-head h4 {
                margin: 6px 0 0 0;
                font-weight: 100;
                letter-spacing: 1px;
            }
        
    ul.chat-available-user {
            padding: 10px;
            list-style: none;
        }
        
        ul.chat-available-user li {
            margin-bottom: 15px;
        }
        
        ul.chat-available-user li a {
            color: #6a6a6a;
            text-decoration: none;
        }
        ul.chat-available-user li i {
            padding-right: 5px;
            font-size: 10px;
        }
</style>