@using BlazorSPA.Client.Data
<aside class="kiri-side">
    <div class="user-head">
        <span class="oi oi-chat"></span>
        <h3>Customer Service</h3>
    </div>
    <div class="queue-start d-flex">
        <p class="my-auto">Users in queue:<span class="badge badge-secondary">@QueueNr</span></p>
        <button type="button" class="btn btn-light ml-2" @onclick="Dequeue">Next</button>
    </div>
    <ul class="chat-list">
        @foreach (var chat in Chats)
        {
            <ChatListItem Chat="@chat" SetActiveChat="SetActiveChat" RemoveChat="RemoveChat" />
        }
    </ul>
</aside>

@code
{
    [Parameter]
    public int QueueNr { get; set; }
    
    [Parameter]
    public List<Chat> Chats { get; set; }
    
    [Parameter]
    public EventCallback Dequeue { get; set; }
    
    [Parameter]
    public EventCallback<string> SetActiveChat { get; set; }
    
    [Parameter]
    public EventCallback<string> RemoveChat { get; set; }
}

<style>
    .chat-room aside {
            display: table-cell;
            float: none;
            height: 100%;
            padding: 0;
            vertical-align: top;
        }
        
        .chat-room .kiri-side {
                width: 25%;
                background: #e5e8ef;
                border-radius: 4px 0 0 4px;
                -webkit-border-radius: 4px 0 0 4px;
            }
            
            .chat-room .kiri-side .user-head {
                    background: #2980b9;
                    color: #FFFFFF;
                    min-height: 70px;
                    padding: 15px;
                }
                
                .chat-room .user-head span {
                    float: left;
                    font-size: 40px;
                    margin-right: 10px;
                }
                
                .chat-room .user-head h3 {
                    margin: 6px 0 0 0;
                    font-weight: 100;
                    letter-spacing: 1px;
                }
                
            .chat-room .kiri-side .queue-start {
                    border-bottom: 1px solid #d5d7de;
                    min-height: 35px;
                    padding: 15px;
                }
               
    ul.chat-list {
        border-bottom: 1px solid #d5d7de;
        padding-left: 0;
        list-style: none;
    }
</style>