<aside class="tengah-side">
    
    <div class="chat-room-head">
        <h3>Air Koler</h3>
    </div>
    
    <div class="group-rom">
        <div class="first-part odd">Jonathan Smith</div>
        <div class="second-part">Hello Cendy are you there?</div>
        <div class="third-part">12:30</div>
    </div>

    <footer >
        <div class="chat-txt">
            <input type="text" class="form-control">
        </div>
        <button class="btn btn-danger" data-original-title="" title="">Send</button>
    </footer>

</aside>

<style>
    .chat-room aside {
            display: table-cell;
            float: none;
            height: 100%;
            padding: 0;
            vertical-align: top;
        }
        
        .chat-room .tengah-side {
                width: 50%;
                background: #fff;
                border-right: 1px solid #e5e8ef;
            }
            
    .chat-room .tengah-side footer {
        background: #f6f6f6;
        padding: 15px;
        height: 70px;
        width: 50%;
        position: absolute;
        bottom: 0;
        border-right: 1px solid #E5E8EF;
    }
            
    .chat-room-head {
        background: #3498db;
        color: #FFFFFF;
        min-height: 70px;
        padding: 15px;
    }
    
    .chat-room-head h3 {
        margin: 5px 0 0;
        font-weight: 100;
        letter-spacing: 1px;
        display: inline-block;
    }
            
    .group-rom {
        width: 100%;
        float: left;
        border-bottom: 1px solid #eaebee;
    }
    
    .group-rom .first-part,
    .group-rom .second-part,
    .group-rom .third-part {
        float: left;
        padding: 15px;
    }
    
    .group-rom .first-part {
        width: 25%;
    }
    
    .group-rom .first-part.odd {
        background: #f7f8fa;
        color: #6a6a6a;
        font-weight: 600;
    }
    
    .group-rom .second-part{
        width: 60%;
    }
    
    .group-rom .third-part{
        width: 15%;
        color: #d4d3d3;
    }
    
        .chat-txt {
            float: left;
            width: 85%;
            margin-right: 5px;
        }
</style>